<% provide(:title, "My_page") %>
<% if current_user?(@user) %>
  <h1>マイページ（<%= @user.name %>）</h1>
  <%= link_to "登録情報を変更する", edit_user_registration_path(@user), :style=>"color:lightblue;" %>
  <section class="post_form">
    <%= link_to "投稿する", new_post_path, class: "btn btn-lg btn-primary"  %>
  </section>
<% else %>
  <h1>ユーザーページ（<%= @user.name %>）</h1>
<% end %>
<% if @user.posts.any? %>
  <h3>投稿一覧 (<%= @user.posts.count %>)</h3>
  <ol class="posts">
  <%= render @posts %>
  </ol>
<% end %>
