<div>
  <a id="thumbnail" type="hidden" name=post[picture] html=""></a>
</div>

<div class="field">
  書籍名 <br /><input id="title" type="text" name=post[title] size=60 value=<%= @post.title %> >
</div>

<div class="field">
  出版社<br /><input id="publisher" type="text" name=post[publisher] size=60 value=<%= @post.publisher %> >
</div>

<div class="field">
  著者<br /><input id="author" type="text" name=post[author] size=60 value=<%= @post.author %> >
</div>

<div class="field">
  出版日<br /><input id="pubdate" type="text"  name=post[pubdate] size=60 value=<%= @post.pubdate %> >
</div>

<div class="field">
  詳細<br /><textarea id="description" type="text" name=post[description] rows="4" cols="60" ><%= @post.description %></textarea>
</div>
