<h5>↓を入力すると上５つの項目が自動で入力されます</h5>
<div class="field">
  ISBN13：<input id="isbn" type="text" name="isbn" value="" autofocus>
  <button id="getBookInfo" class="btn btn-default">書籍情報取得</button>
</div>

<div class="field">
  <p id="thumbnail"></p>
</div>

<div class="field">
  書籍名 <br /><input id="title" type="text" name=post[title] value="" size=60 >
</div>

<div class="field">
  出版社<br /><input id="publisher" type="text" name=post[publisher] value="" size=60 >
</div>

<div class="field">
  著者<br /><input id="author" type="text" name=post[author] value="" size=60 >
</div>

<div class="field">
  出版日<br /><input id="pubdate" type="text"  name=post[pubdate] value="" size=60>
</div>

<div class="field">
  詳細<br /><textarea id="description" type="text" name=post[description] value="" rows="4" cols="60" ></textarea>
</div>

<script>
  $(function() {
    $('#getBookInfo').click( function( e ) {
      e.preventDefault();
        const isbn = $("#isbn").val();
          const url = "https://api.openbd.jp/v1/get?isbn=" + isbn;

            $.getJSON( url, function( data ) {
              if( data[0] == null ) {
                alert("データが見つかりません");
              } else {
                if( data[0].summary.cover == "" ){
                  $("#thumbnail").html('<img src=\"\" />');
                } else {
                  $("#thumbnail").html('<img src=\"' + data[0].summary.cover + '\" style=\"border:solid 1px #000000\" />');
                  }
                    $("#title").val(data[0].summary.title);
                    $("#publisher").val(data[0].summary.publisher);
                    $("#author").val(data[0].summary.author);
                    $("#pubdate").val(data[0].summary.pubdate);
                    $("#description").val(data[0].onix.CollateralDetail.TextContent[0].Text);
                }
            });
        });
    });
</script>
