<li id="post-<%= @post.id %>">
<span class="user">投稿者　<%= post.user.name %></span>
<span class="content"><%= link_to post.title, post_path(post), :style=>"color:lightblue;" %></span>
<span >
  Posted <%= time_ago_in_words(post.created_at) %> ago.
</span>
<% if current_user?(post.user) %>
  <%= link_to "編集", edit_post_path(post), :style=>"color:lightblue;" %>
  <%= link_to "削除", post, method: :delete, :style=>"color:lightblue;",
    data: { confirm: '削除しますか？' }%>
<% end %>
</li>
