<% provide(:title, "post") %>
<h4>本の概要</h4>
<h5>タイトル</h5>
<p class = "item"><%= @post.title %></p>
<h5>出版社</h5>
<p class = "item"><%= @post.publisher %></p>
<h5>著者</h5>
<p class = "item"><%= @post.author %></p>
<h5>出版日</h5>
<p class = "item"><%= @post.pubdate %></p>
<h5>内容説明</h5>
<p class = "item"><%= simple_format(@post.description) %></p>
<h4>この本を読むことがなぜ重要なのか</h4>
<p class = "item"><%= simple_format(@post.important) %></p>
<h4>この本から学びたい興味あると思うことを３つ</h4>
<p class = "item"><%= simple_format(@post.interest) %></p>
<h4>質問化した章と予測した答え</h4>
<p class = "item"><%= simple_format(@post.question) %></p>
<h4>予測した章ごとの役割、論理構造</h4>
<p class = "item"><%=simple_format(@post.what_content) %></p>
<h4>章ごとの疑問の答え</h4>
<p class = "item"><%= simple_format(@post.chapter) %></p>
<h4>章ごとの要約</h4>
<p class = "item"><%= simple_format(@post.summary) %></p>
<h4>:この本の問題意識(メインテーマ)は何か</h4>
<p class = "item"><%= simple_format(@post.what_problem) %></p>
<h4>"それを解決する方法は何か"</h4>
<p class = "item"><%= simple_format(@post.solution) %></p>
<h4>どのように始まったか</h4>
<p class = "item"><%= simple_format(@post.start) %></p>
<h4>どのように終わったか</h4>
<p class = "item"><%= simple_format(@post.end) %></p>
<h4>他の本とどこが違うか</h4>
<p class = "item"><%= simple_format(@post.different) %></p>
<h4>作者が一番伝えたいことは何かなぜそれが重要なのか</h4>
<p class = "item"><%= simple_format(@post.most) %></p>
<h4>作者のどこに一番賛同できるかその理由は何か</h4>
<p class = "item"><%= simple_format(@post.agreement) %></p>
<h4>面白かった事例は何か</h4>
<p class = "item"><%= simple_format(@post.intersting) %></p>
<h4>この本の一番大事な一文はどこかその理由は</h4>
<p class = "item"><%= simple_format(@post.sentence) %></p>
<h4>一番心に刺さったのはどこか</h4>
<p class = "item"><%= simple_format(@post.heart) %></p>
<h4>どこかがつまらなかったか</h4>
<p class = "item"><%= simple_format(@post.dull) %></p>
<h4>どこがわかりづらかったか</h4>
<p class = "item"><%= simple_format(@post.difficult) %></p>
<h4>タイトルは適切かもっと良いタイトルは何か</h4>
<p class = "item"><%= simple_format(@post.titles) %></p>
<h4>前書きは役に立ったか改善点はないか</h4>
<p class = "item"><%= simple_format(@post.foreword) %></p>
<h4>予測していた論理構造が合っていたか</h4>
<p class = "item"><%= simple_format(@post.content) %></p>
