@import"bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

.center {
  text-align: center;
  list-style-position: inside;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


.main-containers{
  color: white;
  height: 800px;
  position: relative;
  overflow: scroll;
  opacity: 0.9;
  text-align: center;
  margin: auto;
  z-index: 1;
  list-style-position: inside;
  padding-top :150px;
  padding-bottom :100px;
}

.background{
  background-image: url('/library-869061_1920.jpg');
  height: 800px;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  margin: auto;
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.field{
  color: lightblue;
}

.txt{
  position: absolute;
}

.logo{
  position: relative;
  font-family: 'Sacramento', cursive;
}

.color{
  color: lightblue;
}

.btn{
  margin-top: 10px;
}

.notice {
  background-color: lightgreen;
  color: #white;
  text-align: center;
}

.alert {
  background-color: pink;
  color: #white;
  text-align: center;
}

.error{
  color: lightblue;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .email {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

 /* ログインフォーム*/
.box17{
    width: 300px;
    margin: auto;
    padding: 0.5em 1.5em;
    position: relative;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    background-color: white;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 0px;}
.box17:after {right: 0px;}
.box17 p {
    margin: 0;
    padding: 0;
}

  /* ヘッダー*/
.logo::after{
  content: '読書記録は面倒だが、内容を忘れ、読み返す方がさらに面倒';
  color: white;
  position: absolute;
  top: 40px;
  left: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
