<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul class="logo"><%= link_to "bookrize_app", root_path, id: "logo" %></ul>
    <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "home", root_path %></li>
      <li><%= link_to "about", about_path %></li>
      <% if user_signed_in? %>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">My page <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "プロフィール", current_user %></li>
          <li><%= link_to "編集", edit_user_registration_path(@user) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "You sure?" } %></li>
        </ul>
      </li>
      <li><%= link_to "Bookrize", new_post_path %><li>
      <% else %>
      <li><%= link_to "log_in", new_user_session_path %></li>
      <% end %>
    </ul>
    <nav>
  </div>
</header>
