<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>
      - bookrize_app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="background">
      <div class="main-containers">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <%= yield %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </div>
    </div>
  </body>
</html>
